{{#each this}}
  <div class="container">
    <div class="mediaImg">
      <img src="{{img}}" width=100 height=100>
    </div>
    <div data-id="{{id}}" class="mediaContent">
      <p>{{type}}</p>
      <p>{{size}}</p>
      <p>{{color}}</p>
      <p>
        <a href="/#/shoes/{{id}}/edit">Edit</a> |
        <a href="/#/shoes/{{id}}/delete">Delete</a>
      </p>
    </div>
  </div>
{{/each}}